<% if allow? "categories", "edit" %>
  <table>
    <thead>
      <h1>All Categories</h1>
      <tr>
        <th>Category</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>

      <% Category.find_each do |category| %>
        <tr>
          <td><%= link_to category.name, category %></td>
          <td><%= link_to 'Iterations', products_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<table>
  <thead>
    <h1>All Products</h1>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% Product.find_each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

